ul{
    margin-right: 15%;
}

.box1{
    border: 10px #ae70af solid;
    height: 100px;
    width: 20%;
}

.box2{

    border: 10px #ae70af solid;
    height: 160px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: floralwhite;

}

.box3{

    border: 10px #ae70af solid;
    height: 160px;
    width: 100%;
}

button{
    height: 70px;
    width: 250px;
    text-align: center;
    background-color: orange;
    color: white;
    margin-left: 45%;
    border-color:orange ;

}

.textleft{
    margin-left: 30%;
}

.tick{
    font-size: 40px;
    color: floralwhite;
    margin-left: 10%;
    font-family: lucida Sans(italic);
}

ul{
    margin-right: 15%;
}

.box1{
    border: 10px #ae70af solid;
    height: 100px;
    width: 100%;
}

.box2{

    border: 10px #ae70af solid;
    height: 160px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: floralwhite;

}

.box3{

    border: 10px #ae70af solid;
    height: 160px;
    width: 100%;
}

button{
    height: 70px;
    width: 250px;
    text-align: center;
    background-color: orange;
    color: white;
    margin-left: 37%;
    border-color:orange ;

}

.textleft{
    margin-left: 30%;
}

.tick{
    font-size: 40px;
    color: floralwhite;
    margin-left: 10%;
    font-family: lucida Sans(italic);
}

.box4{

    border: 10px #ae70af solid;
    height: 160px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: floralwhite;

}

